@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body{
  background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
  font-family: 'Roboto', sans-serif;
} 

.container{
  background: #ECF4FF;
  color: #1C1C1C;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}
    
.perfil{
  display: flex;
}

.perfil-foto {
  max-width: 460px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.titulo{
 margin-left: 16px;
}

.titulo h1{
  font-weight; 700;
  font-size: 36px;
}

.titulo h3{
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 10px;
  padding: 8px 16px;
  background: #ECF4FF;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0E1D2F;
}

.projetos {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  padding: 8px 32px;
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.projeto-titulo{
  list-style: none;
  font-weigth: 700;
  font-size: 36px;
}

.projeto-item{
  list-style-type: none;
  font-size: 24px;
  font-weigth: 400;
  line-height: 40px;
}

.projeto-item a{
  color: #1C1C1C;
  text-decoration: none;   
}

.dark {
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container {
  background: #333439;
  color: #F7F7F7;
}

.dark .projetos{
  color: #1C1C1C; 
}

.dark .tema button{
 background: #0E1D2F;
  color: #FFFFFF;
  border: 2px solid #F7F7F7;
}